*{
    font-family: "Abel", sans-serif;
}
header{
    background-color: #131a35;
}
.nav-item a{
    color: #cbdad5;
}
.nav-link{
    color: blanchedalmond;
}
.fs-4{
    color: white;
}
.bi{
    color: white;
}
.perfil{
    background-color: #566981;
}
#boton-perfil{
    background-color:#70868d;
}
.nav-item a:hover{
    color: #8fa6ae ;
}
#app{
    color: #70868d;
}
.boton-cv{
    background-color: #11262c;
    color: white;
}
.caja-habilidades{
    background-color: #00294c;
    
}
.pb-2{
    color: white;
    text-decoration: double;
}
.pb-22{
    color: black;
}
.fs-2{
    color: white;
}

.hab{
    color: white;
}
.bit{
    color: white;
}
.bi{
    color: black;
}
.btn-proyecto{
    background-color: #11262c;
}
.btn-proyecto a{
    text-decoration: none;
    color:aqua;
}
.card .card-title{
    color: #131a35 ;
}
#contactame p{
    color: white
}
footer li a i{
    color:#70868d;
}
footer p{
     
    color:#131a35;
}
footer p a{
    text-decoration: none;
    color: black
}